{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a class="nav-link" href="{% url 'profile' pk=user.id%}"><img src="" alt=""></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">

        </div>
    </div>
</div>

{% for item in profiles %}

<a class="nav-link" href="{% url 'profile' pk=user.id%}"><img src="{{ item.profile_pic.url }}" alt="" class="profile-img"> </a>
<p>{{item.user}}</p>


{% endfor %}
{% endblock %}