<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% for prof in profiles %}
    <div class="container-full container">
        <a class="navbar-brand" href="/">Carnnect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'%}">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            
                <a class="nav-link" href="{% url 'profile' pk=user.id%}"><img src="{{ prof.profile_pic.url }}" alt="" class="profile-img"> </a>
          </ul>
        </div>
    </div>
    {% endfor %}
</nav>