{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div style="font-size: 80px;">
                <h1 class="profile">PROFILE</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 profile-details">
            {% for profile in profiles %}
            <div class="m-2 p-3 text-center">

                <img class="prof-pic" src="{{profile.profile_pic.url}}" alt="">
                <p class="mt-2">{{profile.first_name}}</p>
                <p class="mt-2">{{profile.last_name}}</p>
            </div>
            <p><i class="fas fa-quote-right me-2"></i>{{profile.category}}</p>
            <h6>CONTACT INFORMATION</h6>
            <p><i class="far fa-envelope me-2"></i>{{profile.email}}</p>
            <p><i class="fas fa-phone me-2"></i>+254{{profile.mobile_number}}</p>
            {% endfor %}
            
        </div>
        
    </div>
</div>

{% endblock %}